<div  class="bg-white" flexLayout="column" style="width:100%;">
<div class="tabs-container">
  
  <div class="tabs-list">
    <a class="tab" [class.active]="activeTab === 'accountdetails'" (click)="setActiveTab('accountdetails')">Account Details</a>
    <a class="tab" [class.active]="activeTab === 'contactdetails'" (click)="setActiveTab('contactdetails')">Contact Details</a>
    <a class="tab" [class.active]="activeTab === 'password'" (click)="setActiveTab('password')">Password Settings</a>
    <a class="tab" [class.active]="activeTab === 'timeline'" (click)="setActiveTab('timeline')">Timeline</a>
  </div>
  <form #profileForm="ngForm" (ngSubmit)="submit()">
  <div class="tab-content">
    <div class="tab-pane" *ngIf="activeTab === 'accountdetails'">
      <div >
        <div class="card-avatar">
          <img [src]="model.ProfileImage || '../../../../assets/images/avatars/profile.jpg'" class="img img-circle" width="120" height="120">
          <button class="bg-transparent hover:bg-blue-500 text-blue-700 hover:text-white py-2 px-4 ml-5 border border-blue-500 hover:border-transparent rounded" type="button" (click)="fileInput.click()">Upload Photo</button>
          <input #fileInput type="file" id="fileInput" (change)="onFileInput($event)" style="display: none;">
          <div class="p-16">
            <button class="mr-2 bg-transparent hover:bg-red-800 text-red-700 hover:text-white py-2 px-4 border border-red-500 hover:border-transparent rounded" *ngIf="model.ProfileImage" id="btnRemoveImage" (click)="removeimage()">Delete Photo</button>
          </div>
        </div>
    
        <div class="p-16 pt-0 line-height-1.75">
          <div class="form-group">
            <label for="gender"><b>Gender<span style="color: red;"> *</span>:</b></label>
            <div class="d-flex align-items-center">
              <div class="custom-control custom-radio mr-4">
                <input type="radio" id="male" name="gender" class="custom-control-input" [(ngModel)]="model.Gender" value="Male">
                <label class="custom-control-label" for="male">Male</label>
              </div>
              <div class="custom-control custom-radio">
                <input type="radio" id="female" name="gender" class="custom-control-input" [(ngModel)]="model.Gender" value="Female">
                <label class="custom-control-label" for="female">Female</label>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="location"><b>Address:</b></label>
            <input type="text" class="form-control" placeholder="Location" required id="location" name="location" [(ngModel)]="model.Location">
          </div>
         
          <div class="form-group">
            <label for="dob"><b>DOB (MM/DD/YYYY)<span style="color: red;"> *</span>:</b></label>
            <div class="d-flex align-items-center">
              <input [(ngModel)]="model.DOB" matInput name="dateofbirth" [matDatepicker]="myPicker" placeholder="Date" class="mr-2">
              <mat-datepicker-toggle matSuffix [for]="myPicker"></mat-datepicker-toggle>
              <mat-datepicker #myPicker></mat-datepicker>
            </div>
          </div>
          <div class="form-group">
            <label for="aboutme"><b>About Me:</b></label>
            <textarea matInput [(ngModel)]="model.AboutMe" name="aboutme" #aboutme='ngModel'></textarea>
          </div>
        </div>
      </div>
    </div>
    
    
    <div class="tab-pane" *ngIf="activeTab === 'contactdetails'">
      <div >
        <div>
          <div class="h4 secondary-text"><b>Name:</b>{{model.FirstName}}&nbsp;{{model.LastName}}</div>
          <br>
          <div class="h4 secondary-text"><b>Role:</b> {{model.Role}}</div>
          <br>
          <div *ngIf="IsCandidate">
            <p class="h4 secondary-text"><b>Recruiter Name:</b> {{RecruiterName}}</p>
          </div>
          <div>
            <div class="mr-3 ml-3"><b>Mobile:</b></div>
            <mat-form-field appearance="outline" class="flex-grow-1">
              <input type="text" matInput class="form-control" id="mobilenumber" required [(ngModel)]="model.Mobile" name="mobilenumber" pattern="^(\+\d{1,3}[- ]?)?\d{10}$" #mobile="ngModel">
              <mat-error *ngIf="mobile.touched && mobile.invalid">
                <span *ngIf="mobile.touched && mobile.errors">
                  Invalid mobile number format
                </span>
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <div class="mr-3 ml-3"><b>Work Phone:</b></div>
            <mat-form-field appearance="outline" class="flex-grow-1">
              <input type="text" matInput class="form-control" id="mobileworknumber" [(ngModel)]="model.Workphone" name="mobileworknumber" pattern="^(\+\d{1,3}[- ]?)?\d{10}$" #mobilework="ngModel">
              <mat-error *ngIf="mobilework.touched && mobilework.invalid">
                <span *ngIf="mobilework.touched && mobilework.errors">
                  Invalid mobile number format
                </span>
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <div class="mr-3 ml-3"><b>LinkedIn:</b></div>
            <mat-form-field appearance="outline" class="flex-grow-1">
              <input matInput placeholder="Linked In" type="text" required id="linkedIn" name="linkedin" [(ngModel)]="model.LinkedIn">
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="tab-pane" *ngIf="activeTab === 'password'">
      <div class="fuse-card" style="width: 532px; height: 362px;">
        <div class="p-16 pt-0 line-height-1.75">
          <div class="h1" style="font-size: large;margin-bottom: 15px;">Change Password</div>
          <p><b>Current Password<span style="color: red;"> *</span> : </b> {{model.Password}}</p>
          <div [class.has-error]="npassword.touched && npassword.invalid">
 <p><b> New Password<span style="color: red;"> *</span> : </b> <input matInput placeholder="Password" type="text" id="npassword"
                name="npassword" class="form-control" ngModel #npassword="ngModel"></p>
          </div>

          <div [class.has-error]="confirmPassword.touched && confirmPassword.invalid">
            <p><b> Confirm Password<span style="color: red;"> *</span> : </b><input matInput placeholder="Confirm Password"
                name="confirmPassword" appConfirmEqualValidator="npassword" id="confirmPassword"
                type="password" class="form-control" [(ngModel)]="model.Password"
                #confirmPassword="ngModel"></p>
            <mat-error>
              <span
                *ngIf="confirmPassword.touched && confirmPassword.errors?.notEqual && !confirmPassword.errors?.required">
                Password and Confirm Password does not match
            </span>
            </mat-error>
          </div>
        </div>
      </div>
    </div> -->

    <div class="tab-pane" *ngIf="activeTab === 'password'">
      <div  style="width: 532px; height: 362px;">
        <div class="p-16 pt-0 line-height-1.75">
          <div class="h1" style="font-size: large; margin-bottom: 15px;">Change Password</div>
          <p><b>Current Password<span style="color: red;"> *</span> </b> {{model.Password}}</p>
          
          <div [class.has-error]="npassword.touched && npassword.invalid">
            <p><b> New Password<span style="color: red;"> *</span>   </b> <input matInput placeholder="New Password" type="password" id="npassword"
                name="npassword" class="form-control" style="  border-radius: 19px; background-color: rgb(221, 226, 226); transform: scale(1.05); height: 30px;" [(ngModel)]="model.NewPassword" #npassword="ngModel"></p>
          </div>
    
          <div [class.has-error]="confirmPassword.touched && confirmPassword.invalid">
            <p><b> Confirm Password<span style="color: red;"> *</span>   </b>  <input matInput placeholder="Confirm Password"
                name="confirmPassword" appConfirmEqualValidator="npassword" id="confirmPassword"
                type="password" class="form-control" style="  border-radius: 19px; background-color: rgb(221, 226, 226); transform: scale(1.05); height: 30px;"  [(ngModel)]="model.ConfirmPassword"
                #confirmPassword="ngModel"></p>
            <mat-error>
              <span
                *ngIf="confirmPassword.touched && confirmPassword.errors?.notEqual && !confirmPassword.errors?.required">
                Password and Confirm Password do not match
              </span>
            </mat-error>
          </div>
        </div>
      </div>
    </div>
    
    <div class="tab-pane" *ngIf="activeTab === 'timeline'">
      <p><b>Last Login Time: </b> {{lastlogin | date:'MM/dd/yyyy, h:mm a'}}</p>
      <p style="display: flex;"><b>Last Updated Time : </b> {{modifiedDate | date:'MM/dd/yyyy, h:mm a'}}</p>
      <!-- <p><b>Changed Password: </b> {{model.lastlogin}}</p> -->
    </div>
  </div>
  <div style="display:inline-block;">

    <button class="mr-2 bg-transparent hover:bg-red-800 text-red-700 hover:text-white py-2 px-4 border border-red-500 hover:border-transparent rounded" id="btnCancel" style="margin-right: 15px;" (click)="cancelProf()">Cancel</button>
    <button class="bg-transparent hover:bg-blue-500 text-blue-700 hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded" type="submit" id="btnSubmit"
      >Update</button>
  </div>
</form>
</div>
</div>
